.form-container {

    margin: 0 auto;
    padding: 1rem;
    overflow-y: scroll;
    flex-direction: column;
    height: 100%;
    /* border: black solid 1px; */
}



@media screen and (max-width: 768px) {
    .form-container {
        max-width: 100%; /* adjust width for smaller screens */
    }
}

/* add styles for form elements */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
