.dashboard-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.dashboard-container {
    flex-direction: column;
    padding-top: 5vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color:var(--background);
}

.dash-scrollable-div {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 35vh;
    margin: .5vh;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: whitesmoke;
}
.dash-tag {
    display:flex;
    position: relative;
    vertical-align: middle;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    width: 85vw;
    overflow: hidden;
    border: solid 3px #ccc;
    height: 7vh;
}

.dash-tag:hover {
    border-color: var(--accent);
    transition: all 0.3s ease-in-out;
}